{% extends "base.html" %}
{% block content %}
<!-- ---------------------- [edit] ------------------------ -->
<div class="row justify-content-center mb-2">
    <div class="col-md-12">
        <table class="table">
            <!-- pred 값 출력 -->
            <tr>
                <th>5일 후 예상 가격</th>
                <td>{{ context.pred_5 }}</td>
            </tr>
            <tr>
                <th>10일 후 예상 가격</th>
                <td>{{ context.pred_10 }}</td>
            </tr>
            <tr>
                <th>20일 후 예상 가격</th>
                <td>{{ context.pred_20 }}</td>
            </tr>
            <tr>
                <th>60일 후 예상 가격</th>
                <td>{{ context.pred_60 }}</td>
            </tr>
            <tr>
                <th>120일 후 예상 가격</th>
                <td>{{ context.pred_120 }}</td>
            </tr>
        </table>
        <div> ※ 전날을 기준으로 예상한 가격입니다. </div>
        <div> ※ 익일 오후 4시가 지나면 익일 가격이 반영됩니다. </div>
    </div>
</div>


    <!-- -------------------------------------------------------- -->
    {% endblock %}