{% extends "base.html" %}
{% block content %}
<!-- ---------------------- [edit] ------------------------ -->
<div class="row justify-content-center mb-2">
    <div class="col-md-12">
        <table class="table">
            <!-- pred 값 출력 -->
            <div class="mb-3">
            <tr>
                <!-- <img src="/static/images/price_baechoo_2023_01_12.png" alt="가격 동향" width="2000" height="650"> -->
                <td type="text" ><font size="5em" color="green">면적을 입력하세요.</font></td>
                <th>
                <!-- 사용자로부터 입력값을 받을 예정-->
                <input type="text" class="form-control" id="area" name="area" value="{{user_info.area}}">
                </th>
                <td class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">확인하기</button>
                </td>
            </tr>
            <tr>
                <th>예상 가격</th>
                <td>가격</td>
                <td>금액 확인하기</td>
            </tr>
            <tr>
                <th>1일 후 예상 가격</th>
                <td>{{ context.pred_1 }}</td>
                <td></td>
            </tr>
            <tr>
                <th>2일 후 예상 가격</th>
                <td>{{ context.pred_2 }}</td>
                <td></td>
            </tr>
            <tr>
                <th>3일 후 예상 가격</th>
                <td>{{ context.pred_3 }}</td>
                <td></td>
            </tr>
            <tr>
                <th>4일 후 예상 가격</th>
                <td>{{ context.pred_4 }}</td>
                <td></td>
            </tr>
            <tr>
                <th>5일 후 예상 가격</th>
                <td>{{ context.pred_5 }}</td>
            </tr>
            <tr>
                <th>10일 후 예상 가격</th>
                <td>{{ context.pred_10 }}</td>
            </tr>
            <tr>
                <th>20일 후 예상 가격</th>
                <td>{{ context.pred_20 }}</td>
            </tr>
            <tr>
                <th>60일 후 예상 가격</th>
                <td>{{ context.pred_60 }}</td>
            </tr>
            <tr>
                <th>120일 후 예상 가격</th>
                <td>{{ context.pred_120 }}</td>
            </tr>
        </table>
        <div> ※ 전날을 기준으로 예상한 가격입니다. </div>
        <div> ※ 익일 오후 4시가 지나면 익일 가격이 반영됩니다. </div>
    </div>
</div>


    <!-- -------------------------------------------------------- -->
    {% endblock %}