<!-- y_p -->
<!-- Path: templates/common/recommend.html -->
{% extends "base.html" %}
{% block content %}
<!-- y_p 값을 표시 -->
<div class="container my-3">
    <form method="post" action="{% url 'api_checker:detail' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include "form_errors.html" %}
        <!-- 면적 : {{user_info.area}} -->
        <div class="form-group">
            <label for="area">면적</label>
            <input type="text" class="form-control" id="area" name="area" value="{{user_info.area}}">
            <div> ※ 면적 값을 수정하실 수 있습니다. </div>
            <!-- 제출 버튼 -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">예측값 확인하기</button>
            </div>
            <br>
        </div>
    </form>
</div>
{% endblock %}