{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'recommend:predict' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <!-- location -->
        <div class="mb-3">
            <label for="location">지역</label>
            <select class="form-control" name="location" id="location">
                <option value="seoul">서울특별시</option>
                <option value="busan">부산광역시</option>
                <option value="daegu">대구광역시</option>
                <option value="incheon">인천광역시</option>
                <option value="gwangju">광주광역시</option>
                <option value="daejeon">대전광역시</option>
                <option value="ulsan">울산광역시</option>
                <option value="sejong">세종특별자치시</option>
                <option value="gyeonggi">경기도</option>
                <option value="gangwon">강원도</option>
                <option value="chungbuk">충청북도</option>
                <option value="chungnam">충청남도</option>
                <option value="jeonbuk">전라북도</option>
                <option value="jeonnam">전라남도</option>
                <option value="gyeongbuk">경상북도</option>
                <option value="gyeongnam">경상남도</option>
                <option value="jeju">제주특별자치도</option>
            </select>
        </div>
        <!-- month -->
        <div class="mb-3">
            <label for="month">시작하는 달</label>
            <input type="number" class="form-control" name="month" id="month"
                value="{{ form.month.value }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}