{% extends "base.html" %}
{% block content %}
<form method="post">{% csrf_token %}
<div class="row justify-content-center mb-2">
    <div class="col-md-4">
        <br>
        <br>
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">예측하기</h5>
                <p class="card-text">{{price}}</p>
                <a href="{% url 'api_checker:detail'%}" class="btn btn-primary">>> 자세히</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">가격 동향</h5>
                <a href="{% url 'api_checker:chart'%}" class="btn btn-primary">>> 자세히</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}